.social{
    margin: 0 !important; 
}
.page-header{
    background-image: url(../../../../../public/assets/img/sections/doctor/register.jpg);
    width: 100%;
    /* background-color: transparent; */
}
.card-register{
    background-color: #d5d5d5;
}
.reg-form label{ 
    color: #5ce1e6;
}
.reg-logo img{
    width: 52%;
}
.reg-logo {
    text-align: left;
}
